/*
* @Author: felipelopesrita
* @Date:   2016-08-02 02:16:46
* @Last Modified by:   felipelopesrita
* @Last Modified time: 2016-08-02 02:16:46
*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

:root {
	--primary: #333;
	--navbar: 50px;
	--margin: 20px;
	--footer: 30px;
	--red: #CF3E43;

	--mobile: 480px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
 }

#navbar .container {
	width: 90%;
}
.navbar-static-top {
	-webkit-box-shadow: 0px 5px 10px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 5px 10px 0px rgba(204,204,204,1);
	box-shadow: 0px 5px 10px 0px rgba(204,204,204,1);
	border: 0;
}
.navbar-static-top .container {
	height: var(--navbar);
	line-height: var(--navbar);
	font-size: var(--margin);
}
.logo {
	display: inline-block;
}
.top-buffer {
	margin-top: 5px;
}
.note, .note-pdf {
	resize: none;
	border: 0;
	margin:auto;
	width: 60%;
	height: calc(100% - (var(--navbar) + var(--margin) + 10px + var(--footer)));
	padding: 0 10px;
	outline: none;
}
.note-pdf {
	display: inline-block;
	/* background-color: tomato; */
	overflow: auto;
	width: calc(40% - 10px);
}

@media (max-width: var(--mobile)) {
	.note {
		width: 100%;
	}
	.note-pdf {
		display: none;
	}
}

.note-subfile {
	width: 80%;
}
.subfiles {
	background-color: rgba(255, 255, 255, 0);
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
	width: 100%;
	padding: 20px 0;
  //display: flex;
  align-items: center;
	font-family: 'Open Sans', sans-serif;
	overflow: hidden;
	-webkit-box-shadow: 1px 0px 20px -4px #ccc;
	-moz-box-shadow: 1px 0px 20px -4px #ccc;
	box-shadow: 1px 0px 20px -4px #ccc;	
}
.window, .modal-content {
	border: thin solid #eee;
	padding: 20px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 35px -5px #ccc;
	-moz-box-shadow: 0px 0px 35px -5px #ccc;
	box-shadow: 0px 0px 35px -5px #ccc;
}
.subfiles .header {
	width: 100%;
	margin: 0;
	padding: 10px 5px;
	overflow: hidden;
	text-align: center;
}
.subfiles i {
	display: block;
	font-size: 3em;
	line-height: 50px;
}
.subfiles h4 {
	display: block;
	margin-left: 5px;
	font-weight: bold;
}
.subfiles a {
	display: block;
	cursor: pointer;
	padding: 15px 20px;
	font-weight: bold;
	color: #333;
}