/*
* @Author: felipelopesrita
* @Date:   2016-08-02 16:40:00
* @Last Modified by:   felipelopesrita
* @Last Modified time: 2016-08-02 16:40:00
*/
::-moz-selection { background-color: #CF3E43; color: white; }
::selection { background-color: #CF3E43; color: white; }

a {
	cursor: pointer
}
[class^="link-"], [class*=" link-"] {
	color: #333;
	cursor: pointer;
}
[class^="link-"]:hover, [class*=" link-"]:hover {
	text-decoration: none;
}
.red-text, .link-red:hover {
	color: #CF3E43;
}
.green-text, .link-green:hover {
	color: #1d9d74;
}
.white-text {
	color: white;
}
.black-text {
	color: #333;
}
.black {
	background-color: #333;
}
.red {
	background-color: #CF3E43;
}
.green {
	background-color: #1d9d74;
}
.modal-backdrop {
  background-color: white;
}