/*
* @Author: felipelopesrita
* @Date:   2016-08-02 16:40:00
* @Last Modified by:   felipelopesrita
* @Last Modified time: 2016-08-02 16:40:00
*/
::-moz-selection { background-color: var(--primary); color: white; }
::selection { background-color: var(--primary); color: white; }

a {
	cursor: pointer
}
.ghost {
	opacity: 0.5;
}
.logo:hover, .ghost:hover {
	opacity: 1;
	filter: alpha(opacity=50);
}
[class^="link-"], [class*=" link-"] {
	color: #333;
	cursor: pointer;
}
[class^="link-"]:hover, [class*=" link-"]:hover {
	text-decoration: none;
}
.red-text, .red-link {
	color: var(--red, #CF3E43);
}
.primary-text, .primary-link:hover {
	color: var(--primary);
}
.green-text, .link-green:hover {
	color: #1d9d74;
}
.white-text, .link-white:hover {
	color: white;
}
.black-text {
	color: #333;
}
.black {
	background-color: #333;
}
.primary {
	background-color: var(--primary);
}
.green {
	background-color: #1d9d74;
}
.modal-backdrop {
  background-color: white;
}